@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Source+Code+Pro');

/* Global
.container-fluid{
    padding: 0;
    margin: 0;
} */

/* NAVBAR */
.nav li a:hover{
    background-color: transparent;
}
.navbar{
    background-color: transparent;
    border-color: transparent;
    position: fixed;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
    color: #fff;
    background-color: rgba(29, 105, 171, 0.2);
}
.navbar-default .navbar-nav>li>a{
    color: #fcfcfc;
    text-shadow: 1px 1px 2px #0a0a0a;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus{
    color: #1d69ab;
    background-color: rgba(29, 105, 171, 0.2);
}
nav.navbar{
    position: absolute;
    top: 100;
    right: 0;
    left: 0;
    z-index: 20;
}
/* .navbar-brand>img{
    size: x-small;
    margin-top: -700px;
} */

/* HOME */
.container-fluid{
    background-image: url('../img/hero.jpg');
}
.home>h1{
    font-family: 'Source Code Pro', monospace;
    font-size: 3em;
    color: rgba(29, 105, 171, 0.2);
}